.modal{
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    pointer-events: none;
    transition: 0.5s;
}

.modal.active{
    opacity: 1;
    pointer-events: all;
}

.modal__content{
    height: 319px;
    width: 575px;
    background-color: #fff;
    border-radius: 20px;
    transform: scale(0.5);
    transition: 0.4s all;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.modal__content.active{
    transform: scale(1);
}
.modal__title{
    font-size: 14px;
    color: #a5a5a5;
    margin-top: 38px;
    width: 377px;

}
.modal__input{
    width: 376px;
    font-size: 14px;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    color: #2A3993;
    margin-top: 30px;
}
.modal_btn{
    margin-top: 25px;
}