*{
    
}
.block{
    background: url('../../img/background/pattern.png') repeat-y;
    background-color: #2A3993;
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.wrap__title{
    font-family: 'Russo One', sans-serif;
    color: #2A3993;
    padding-top: 38px;
}
.wrap{
    height: 530px;
    width: 502px;
    background-color: #fff;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}